.favorites-icon {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;

  width: 40px;
  height: 40px;
  color: #55433c;
  transition: all 0.1s ease;
}

.favorites-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.1s;
}

.favorites-icon:active {
  transform: scale(0.85);
  transition-duration: 0.5s;
}

.favorites-icon__favorited {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;

  width: 40px;
  height: 40px;
  color: #ff844e;
  transform: scale(1.25);
  transition: all 0.1s ease;
}

.favorites-icon__favorited:hover {
  cursor: pointer;
}

.favorites-icon__favorited:active {
  color: #bc6038;
  transform: scale(0.85);
  transition-duration: 0.5s;
}

.added-notification {
  position: absolute;
  bottom: 4.4rem;
  right: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 65px;
  min-height: 32px;
  height: fit-content;
  border-radius: 4px;
  /* background-color: rgba(81, 163, 81); */
  font-size: 0.7rem;
  color: rgb(255, 235, 209);
  animation: fade-in-out 1s ease-out forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}
