.favorites-icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;

  width: 45px;
  height: 45px;
  color: #55433c;
  transition: all 0.1s ease;
}

.favorites-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.1s;
}

.favorites-icon:active {
  transform: scale(0.85);
  transition-duration: 0.5s;
}

.favorites-icon__favorited {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;

  width: 45px;
  height: 45px;
  color: #ff844e;
  transform: scale(1.25);
  transition: all 0.1s ease;
}

.favorites-icon__favorited:hover {
  cursor: pointer;
}

.favorites-icon__favorited:active {
  color: #bc6038;
  transform: scale(0.85);
  transition-duration: 0.5s;
}

.favorites-tooltip {
  position: absolute;
  top: 4.1rem;
  right: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  text-align: center;
  width: 85px;
  min-height: 20px;
  height: fit-content;
  border-radius: 4px;
  font-size: 0.7rem;
  background-color: rgba(91, 91, 91, 0.7);
  color: #ededed;
  /* animation: fade-in 0.1s ease-in-out; */
}

/* @keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.added-notification {
  position: absolute;
  top: 4.8rem;
  right: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  text-align: center;
  width: 65px;
  min-height: 32px;
  height: fit-content;
  border-radius: 4px;
  font-size: 0.7rem;
  color: rgb(255, 235, 209);
  animation: fade-in-out 1s ease-out forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}
