.favorites-icon {
  position: fixed;
  z-index: 1;
  top: 3rem;
  right: 3.5rem;
  width: 60px;
  height: 60px;
  color: rgb(234, 234, 234);
  transition: all 0.1s ease;
}

.favorites-icon:hover {
  cursor: pointer;
  fill: #e2b659;
  transform: scale(1.15);
}

.favorites-icon:active {
  transform: scale(0.85);
  transition-duration: 0.5s;
}

.favorites-icon__clicked {
  position: fixed;
  z-index: 1;
  top: 3rem;
  right: 3.5rem;
  width: 60px;
  height: 60px;

  color: #e2b659;
  transform: scale(1.2);
  transition: all 0.1s ease;
}

@media (min-resolution: 120dpi) {
  .favorites-icon {
    width: 55px;
    height: 55px;
  }

  .favorites-icon__clicked {
    width: 55px;
    height: 55px;
  }
}

@media only screen and (max-width: 980px) {
  .favorites-icon {
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    color: rgb(234, 234, 234);
    transition: all 0.1s ease;
  }

  .favorites-icon__clicked {
    position: fixed;
    top: 2rem;
    right: 1.5rem;
    width: 50px;
    height: 50px;
    color: #e2b659;
    transform: scale(1.25);
    transition: all 0.1s ease;
  }
}

@media only screen and (max-width: 480px) {
  .favorites-icon {
    /* stroke: #55433c; */
    stroke: rgb(36, 36, 36);
    stroke-width: 0.5px;
  }
}
