.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

.favorites-header {
  z-index: 3;
  position: fixed;
  top: 4.5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 38rem;
  height: 2rem;
  padding: 0.6rem 1rem 0.4rem 1rem;
  border-radius: 12px 12px 0px 0px;
  background-color: rgba(17, 9, 0, 0.868);
  /* background-color: red; */
}

.favorites-modal {
  z-index: 2;
  position: fixed;
  top: 7.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  height: 70vh;
  width: 38rem;
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 0px 0px 12px 12px;
  background-color: rgba(17, 9, 0, 0.868);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
}

.favorites-modal::-webkit-scrollbar {
  display: none;
}

.favorites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.title {
  font-size: 1.3rem;
  color: rgb(234, 234, 234);
  -webkit-text-stroke: 0.2px rgb(23, 23, 23);
}

.close-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;

  font-size: 1.4rem;
  stroke: rgb(23, 23, 23);
  stroke-width: 1px;
  color: rgb(234, 234, 234);
  transform: perspective(100px) translateZ(0px);
  transition: transform 100ms linear;
}

.close-icon:hover {
  cursor: pointer;
  color: rgb(212, 212, 212);
  transform: perspective(100px) translateZ(15px);
}

/* Modal content */
.empty {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(234, 234, 234);
  -webkit-text-stroke: 1px rgb(23, 23, 23);
  text-shadow: 1.5px 1.5px #04040433;
}

.empty-instruction {
  margin-top: 6rem;
  padding: 0 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: rgb(234, 234, 234);
  -webkit-text-stroke: 0.6px rgb(23, 23, 23);
  text-shadow: 1.5px 1.5px #04040433;
}

.empty-icon {
  vertical-align: -13%;
  fill: brown;
}

@media only screen and (max-width: 980px) {
  .favorites-header {
    width: 70%;
  }

  .favorites-modal {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 70vh;
    width: 70%;
  }

  .favorites-icon {
    position: fixed;
    top: 2rem;
    right: 2rem;

    width: 40px;
    height: 40px;
    color: rgb(234, 234, 234);
    transition: all 0.1s ease;
  }
}

@media only screen and (max-width: 480px) {
  .favorites-header {
    top: 11rem;
    width: 80%;
  }
  .favorites-modal {
    top: 14rem;
    height: 50vh;
    width: 80%;
  }

  .empty {
    font-size: 1.3rem;
  }

  .empty-instruction {
    margin-top: 5rem;
    padding: 0 2rem;
    font-size: 1.1rem;
  }
}
