.logo {
  display: block;
  margin: -70px auto -80px auto;
  width: 500px;
  margin-top: -100px;
  margin-bottom: -125px;
}

.logo:hover {
  cursor: pointer;
}

h1 {
  margin: 0 auto;
  padding-top: 5rem;

  max-width: fit-content;
  font-size: 3rem;
  color: rgb(234, 234, 234);
  -webkit-text-stroke: 1.5px rgb(23, 23, 23);
}

h2 {
  margin: 0 auto;
  padding-top: 1.8rem;

  max-width: fit-content;
  font-size: 1.3rem;
  font-weight: 900;

  color: rgb(234, 234, 234);
  -webkit-text-stroke: 1.1px rgb(23, 23, 23);
  text-shadow: 1.5px 1.5px #04040433;
}

.hero-header {
  position: relative;
  background-image: url("../assets/hero-img.jpg");
  background-size: cover;
  height: 100vh;
  overflow: auto;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.55);
}

.btn-back {
  display: block;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  margin: 2rem auto;
  padding: 0 16px;
  color: #f5f5f5;
  background: rgba(205, 182, 153, 0.868);
  line-height: 1.15;
  font-size: 1rem;
  height: 48px;
  text-decoration: none;
  min-width: 64px;
  border: none;
  text-align: center;
}

.btn-back:hover {
  background: rgb(195, 158, 116);
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
