.logo {
  display: block;
  margin: -70px auto -80px auto;
  width: 500px;
  margin-top: -100px;
  margin-bottom: -125px;
}

h1 {
  margin: 0 auto;
  padding-top: 5rem;

  max-width: fit-content;
  font-size: 3rem;
  color: rgb(234, 234, 234);
  -webkit-text-stroke: 1.5px rgb(23, 23, 23);
}

h2 {
  margin: 0 auto;
  padding-top: 1.8rem;

  max-width: fit-content;
  font-size: 1.3rem;
  color: rgb(234, 234, 234);
  -webkit-text-stroke: 1.2px rgb(23, 23, 23);
  text-shadow: 1.5px 1.5px #04040433;
}

.hero-header {
  position: relative;
  background-image: url("../assets/hero-img.jpg");
  background-size: cover;
  height: 100vh;
  overflow: auto;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.55);
}

.results {
  list-style: none;
  margin: 2.5rem auto 0 auto;
  padding-left: 0;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1rem;
}

@media only screen and (max-width: 980px) {
  .results {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 85%;
  }

  .btn-load {
    min-width: 80vw;
  }
}

.btn-load {
  display: block;
  margin: 0.5rem auto 2rem auto;

  box-shadow: 1px 2px #00000049;
  border-width: 1.7px;
  border-color: rgba(23, 23, 23, 0.884);
  border-radius: 10px;
  min-height: 4rem;
  width: 40vw;
  cursor: pointer;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.904);
}

.btn-back {
  display: block;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  margin: 2rem auto;
  padding: 0 16px;
  color: #f5f5f5;
  background: rgba(205, 182, 153, 0.868);
  line-height: 1.15;
  font-size: 1rem;
  height: 48px;
  text-decoration: none;
  min-width: 64px;
  border: none;
  text-align: center;
}

.btn-back:hover {
  background: rgb(195, 158, 116);
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
