.book {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  padding: 0.8rem 0.5rem;
  margin: 0.5rem 0;
  width: 42%;
  border: 2px solid #232323;
  border-radius: 10px;
  background-color: rgba(255, 235, 209, 0.95);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 980px) {
  .book {
    width: 90%;
  }
}

.book-title {
  text-decoration: none;
  color: rgb(23, 23, 23);
  width: 100%;
  font-weight: 600;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.book-description {
  margin: 1.5rem 0 0 1.2rem;
  max-width: 70%;
}

.break {
  display: block;
  margin-bottom: 0.3rem;
}

img {
  width: 128px;
  margin: 1rem 0 0.5rem 0.5rem;
}
