.book {
  position: relative;
  display: grid;
  grid-template-columns: 135px 1fr;

  padding: 0.8rem 0.5rem;
  margin: 0.5rem 0;
  width: 90%;
  border: 2px solid #232323;
  border-radius: 10px;
  background-color: rgb(255, 235, 209);

  transition: opacity 2s ease-out;
}

@media only screen and (max-width: 980px) {
  .book {
    flex-wrap: wrap;
  }
}

.book-title {
  text-decoration: none;
  color: rgb(23, 23, 23);
  width: 100%;
  font-weight: 600;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  grid-column-start: 1;
  grid-column-end: 3;
}

.book-description {
  margin: 1.5rem 0 0 1.2rem;
  max-width: 70%;
}

.break {
  display: block;
  margin-bottom: 0.3rem;
}

img {
  width: 128px;
  margin: 1rem 0 0.5rem 0.5rem;
  grid-column-start: 1;
  grid-column-end: 2;
}

.favorites-icon {
  position: absolute;
  bottom: 1rem;
  right: 1.2rem;

  width: 40px;
  height: 40px;
  color: rgb(112, 81, 81);
  transition: all 0.1s ease;
}

.favorites-icon:hover {
  cursor: pointer;
  color: rgb(51, 36, 36);
  transform: scale(1.15);
  transition-duration: 0.1s;
}

.favorites-icon:active {
  transform: scale(0.85);
  transition-duration: 0.5s;
}

.favorites-icon__clicked {
  color: rgb(51, 36, 36);
}

@media only screen and (max-width: 980px) {
  .book {
    width: 95%;
  }
}
