.favorites-icon {
  position: fixed;
  top: 2rem;
  right: 3rem;

  width: 45px;
  height: 45px;
  color: rgb(234, 234, 234);
  transition: all 0.1s ease;
}

.favorites-icon:hover {
  cursor: pointer;
  fill: rgb(218, 165, 32);
  transform: scale(1.15);
}

@media only screen and (max-width: 980px) {
  .favorites-icon {
    position: fixed;
    top: 2rem;
    right: 2rem;

    width: 40px;
    height: 40px;
    color: rgb(234, 234, 234);
    transition: all 0.1s ease;
  }
}
