.hero-header {
  background-image: url("../assets/hero-img.jpg");
  background-size: cover;
  height: 100vh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.55);
}

ul {
  list-style: none;
  margin: 1rem 3rem;
  padding: 0;
  max-height: fit-content;
  overflow: auto;
  display: inline-flex;
  flex-direction: column;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #005595;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  margin: 0.5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 50%;
  margin: 0 auto;
  padding: 2rem;
}

input {
  min-height: 40px;
  min-width: 80%;

  font-size: 1rem;
  border-radius: 5px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
