.search-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin: 1.2rem auto 2rem auto;
  min-width: 450px;
  width: 30%;
}

.search-menu li {
  display: flex;
  align-items: center;

  box-shadow: 1px 2px #00000049;
  border-width: 1.7px;
  min-height: 2rem;
  cursor: pointer;
}

.search-menu li:active,
.search-menu li:hover {
  background-color: rgb(151, 132, 108);
}

a {
  text-decoration: none;
}

a:visited {
  color: rgb(23, 23, 23);
}
