.search-menu {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;

  margin-top: 1rem;
  min-width: 450px;
}

.search-menu li {
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 1px 2px #00000049;
  border-width: 1.7px;
  border-color: rgba(23, 23, 23, 0.884);
  min-height: 1.6rem;
  width: 100%;
  cursor: pointer;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.904);
}

.search-menu li:active,
.search-menu li:hover {
  background-color: rgb(164, 148, 127);
}

a {
  text-decoration: none;
  min-width: 140px;
}

a:visited {
  color: rgb(23, 23, 23);
}

/* NE RADI TRENUTNO */
@media only screen and (max-width: 600px) {
  .search-menu {
    max-width: 80%;
  }

  a {
    min-width: 20%;
    width: 20%;
  }
}
