.book {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  padding: 0.8rem 0.5rem;
  margin: 0.5rem 0;
  width: 42%;
  border: 2px solid #232323;
  border-radius: 10px;
  background-color: rgba(255, 235, 209, 0.95);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 980px) {
  .book {
    width: 90%;
  }
}

.book-title {
  text-decoration: none;
  color: rgb(23, 23, 23);
  width: 100%;
  font-weight: 600;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.book-title:hover {
  color: rgb(219, 58, 0);
}

.book-description {
  margin: 1.3rem 0 0 1.2rem;
  width: 70%;
  min-height: fit-content;
  max-height: 20vmin;
  overflow: hidden;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 3rem;
}

.break {
  display: block;
  margin-bottom: 0.3rem;
}

.book img {
  width: 128px;
  margin: 1rem 0 0.5rem 0.5rem;
  transition: all 0.1s ease-in;
  max-height: 200px;
  object-fit: contain;
}

.book img:hover {
  transform: scale(1.03);
}

.recommend-buttons {
  /* width: 70%;
  padding-left: 9rem; */
}

.btn-author {
  position: absolute;
  left: 14.5rem;
  bottom: 1rem;
  width: 18%;
  height: 2.5rem;
  background-color: rgba(255, 235, 209, 0.868);
  border-radius: 5px;
  cursor: pointer;
  color: rgba(23, 23, 23, 0.797);
  font-size: 15px;
  font-weight: bold;
}

.btn-author:hover {
  background-color: rgba(225, 208, 186, 0.868);
}

.btn-more {
  position: absolute;
  right: 10rem;
  bottom: 1rem;
  margin-left: 2rem;
  width: 18%;
  height: 2.5rem;
  background-color: rgba(255, 235, 209, 0.868);
  border-radius: 5px;
  cursor: pointer;
  color: rgba(23, 23, 23, 0.797);
  font-size: 15px;
  font-weight: bold;
}

.btn-more:hover {
  background-color: rgba(225, 208, 186, 0.868);
}

@media only screen and (max-width: 980px) {
  .btn-author {
    left: 12rem;
  }
}
