.book {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  padding: 0.8rem 0.5rem;
  margin: 0.5rem 0;
  width: 40%;
  min-height: 15rem;
  font-size: 1.1rem;
  border: 2px solid #232323;
  border-radius: 10px;
  background-color: rgba(255, 235, 209, 0.95);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.book-title {
  text-decoration: none;
  color: rgb(23, 23, 23);
  width: 87%;
  font-weight: 600;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.book-title:hover {
  color: rgb(219, 58, 0);
}

.book-description {
  margin: 1.3rem 0 0 1.2rem;
  width: 55%;
  overflow: auto;
}

.book-description::-webkit-scrollbar {
  display: none;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 3rem;
}

.break {
  display: block;
  margin-bottom: 0.3rem;
}

.book img {
  width: 128px;
  margin: 1rem 0 0.5rem 0.5rem;
  transition: all 0.1s ease-in;
  max-height: 13rem;
  object-fit: contain;
}

.book img:hover {
  transform: scale(1.03);
}

.btn-author,
.btn-more {
  display: flex;
  align-items: center;
  position: absolute;

  width: 5.5rem;
  height: 3rem;
  font-size: 0.9rem;
  background-color: rgba(255, 235, 209, 0.868);
  border-radius: 5px;
  cursor: pointer;
  color: rgba(23, 23, 23, 0.797);
  font-weight: bold;
}

.btn-author {
  right: 1rem;
  bottom: 1rem;
}
.btn-author:hover {
  background-color: rgba(180, 161, 135, 0.868);
}

.btn-more {
  right: 1rem;
  bottom: 4.5rem;
}
.btn-more:hover {
  background-color: rgba(180, 161, 135, 0.868);
}

/* Custom size, purely for text overflow and favorites icon overlap issue */
@media only screen and (max-width: 1400px) {
  .book {
    width: 80%;
  }
}

@media only screen and (max-width: 980px) {
  .book {
    width: 90%;
  }

  .btn-author,
  .btn-more {
    height: 3.3rem;
  }
  .btn-more {
    bottom: 4.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .book {
    width: 85%;
    min-height: 13rem;
    font-size: 1rem;
  }

  .book img {
    width: 95px;
  }

  .book-description {
    width: 45%;
  }

  .btn-more,
  .btn-author {
    font-size: 0.8rem;
    width: 4rem;
    /* padding: 0.3rem 0; */
  }
}

@media only screen and (max-width: 480px) {
  .book-title {
    width: 72%;
  }

  .book-description {
    width: 70%;
    height: 4.5rem;
    margin-top: 0.4rem;
    margin-left: 0.6rem;
  }

  .btn-more {
    top: 5rem;
    height: 3.5rem;
  }

  .btn-author {
    top: 9rem;
    height: 3.5rem;
  }
}
