.search-menu {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;

  margin-top: 1rem;
  min-width: 450px;
}

.search-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 1.6rem;
  padding: 1rem 0.5rem;
  margin: 0.5rem 0;

  cursor: pointer;
  border-radius: 10px;
  font-weight: 700;
  background-color: rgba(255, 235, 209, 0.9);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.search-menu li:active,
.search-menu li:hover {
  background-color: rgb(164, 148, 127);
}

a {
  text-decoration: none;
  min-width: 140px;
}

a:visited {
  color: rgb(23, 23, 23);
}

/* NE RADI TRENUTNO */
@media only screen and (max-width: 600px) {
  .search-menu {
    max-width: 80%;
  }

  a {
    min-width: 20%;
    width: 20%;
  }
}
