.search-menu {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 38rem;
}

.search-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  background-color: rgba(255, 238, 216, 0.95);
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px rgba(221, 205, 183, 0.95);
  height: 4.2rem;
  width: 10rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 8px;
  color: rgb(23, 23, 23);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.search-menu-btn:hover {
  transform: translateY(-2px);
}

.search-menu-btn:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
}

/* More laptop 125% zoom compatibility */
@media (min-resolution: 120dpi) {
  .search-menu {
    width: 35rem;
  }

  .search-menu-btn {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 768px) {
  .search-menu {
    width: 90%;
    min-width: 6rem;
    gap: 0.7rem;
  }

  .search-menu-btn {
    width: 25%;
    min-width: 7rem;
  }
}

@media only screen and (max-width: 480px) {
  .search-menu-btn {
    height: 3.2rem;
  }
}
