.hero-header {
  position: relative;
  background-image: url("./assets/hero-img.jpg");
  background-size: cover;
  height: 100vh;
  overflow: auto;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.55);
}

.logo {
  display: block;
  margin: -70px auto -80px auto;
  width: 500px;
  margin-top: -100px;
  margin-bottom: -125px;
}

.logo:hover {
  cursor: pointer;
}

h2 {
  margin: 0 auto;
  padding-top: 1.8rem;

  max-width: fit-content;
  font-size: 1.3rem;
  font-weight: 900;

  color: rgb(234, 234, 234);
  -webkit-text-stroke: 1.1px rgb(23, 23, 23);
  text-shadow: 1.5px 1.5px #04040433;
}

.spinner-results {
  width: 35px;
  height: 35px;
  display: block;
  margin: 5rem auto;

  border-radius: 50%;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;

  padding: 2rem 0 1rem 0;
  color: rgb(234, 234, 234);
  -webkit-text-stroke: 0.2px rgb(23, 23, 23);
}

.showing-results {
  height: 25px;
  overflow: auto;
  padding: 0;
  margin-top: 2rem;
  font-size: 1.1rem;
}

.btn-loadMore {
  position: relative;
  display: block;
  margin: 0.5rem auto 2rem auto;

  box-shadow: 1px 2px #00000049;
  border-radius: 8px;
  min-height: 4rem;
  width: 65vmin;

  cursor: pointer;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.904);
  transition: all 0.2s ease;
}

.btn-loadMore:hover {
  transform: scale(1.02);
}

.spinner-loadMore {
  position: absolute;
  left: 214px; /* transform: translate broken, check why*/
  top: -66px;
  width: 35px;
  height: 35px;
  display: block;
  margin: 5rem auto;

  border-radius: 50%;
  border-top: 3px solid #000000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
