.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("./assets/hero-img.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 70px;
  width: 600px;
}
.logo:hover {
  cursor: pointer;
}

h2 {
  margin: 0 auto;
  max-width: fit-content;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(234, 234, 234);
  text-shadow: 1.5px 1.2px rgb(41, 41, 41);
}

.search-introduction {
  margin-top: 5rem;
  margin-bottom: 1.4rem;
}

.looking-for-instruction {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.spinner-results {
  width: 35px;
  height: 35px;
  display: block;
  margin: 5rem auto;

  border-radius: 50%;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;

  padding: 2rem 0 1rem 0;
  color: rgb(234, 234, 234);
  -webkit-text-stroke: 0.2px rgb(23, 23, 23);
}

.showing-results {
  margin-top: 3rem;
  font-size: 1.2rem;
  text-shadow: 1px 1px #04040460;
}

.btn-load {
  position: relative;
  display: block;
  margin: 0.5rem auto 2rem auto;

  background-color: rgba(255, 238, 216, 0.95);
  box-shadow: 1px 2px #00000049;
  border-radius: 8px;
  min-height: 4rem;
  width: 20rem;

  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.904);
  transition: all 0.2s ease;
}

.btn-load:hover {
  transform: scale(1.02);
}

.spinner-load {
  position: absolute;
  left: 214px; /* transform: translate broken, check why*/
  top: -66px;
  width: 35px;
  height: 35px;
  display: block;
  margin: 5rem auto;

  border-radius: 50%;
  border-top: 3px solid #000000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Separate media query for the default 125% zoom option on most laptops,
  since 1024px doesn't work as intended. */
@media (min-resolution: 120dpi) {
  h2 {
    font-size: 1.1rem;
    font-weight: 500;
  }

  input {
    font-size: 1rem;
  }

  .logo {
    padding-top: 45px;
    width: 500px;
  }

  .search-introduction {
    margin-top: 3.5rem;
    margin-bottom: 1.2rem;
  }

  .looking-for-instruction {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 980px) {
  .logo {
    width: 550px;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 75%;
    padding-top: 75px;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    width: 85%;
    padding-top: 80px;
  }

  .search-introduction {
    margin-top: 5rem;
  }

  .showing-results {
    width: 80%;
    text-align: center;
  }
}
